.contenedor{
	max-width: 1200px;
	margin: auto;
	display: grid;
	grid-template-rows: 100px auto 100px;
	grid-template-columns: 200px auto;
	grid-column-gap: 10px;
  	grid-row-gap: 15px;
}

header{
	grid-column-start: 1;
  	grid-column-end: 3;
  	grid-row: 1;
  	background: cyan;
  
  	text-align: center;
}

nav{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 2;
	background: yellow;  
}


main{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 2;
	background: pink; 
}

footer{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row: 3;
	background: olive; 
}